




 
style.css
 
#body{
   border-width:  5px;
   border-style:  solid;
   border-color: black;
   font-size: 150%;
 
}
 
 
.section{
   display: inline-block;
   width: 49%;
   height:100%;
    
   border-width:  5px;
   border-style:  solid;
   border-color: red;
}
 
.art{
   border-width:  2px;
   border-style:  dashed;
   border-color: blue;
   background-color: gray;
   height: 200px;
     
}
 
 
#h1 .em{
  color: green;
}
 
#h1 > .em{
   background-color:gray;
}













































































































































































































