<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<style>




header, footer{
height: 150 px;
clear: both;
}

section, aside, figure, header, footer {
       border-color: blue;
       border-width: 1px;
       border-style: solid;
    }


.myBox{
height: 400px;
width: 40%;
background-color: gray;


border-color: blue;
border-width: 5px;
border-style: solid;
float: right;



}
.otherbox{
height: 800px;

background-color: red;

}
aside{
float: left;
height: 400 px;;
} 

footer:{
clear: both;
}


</style>




</head>
<body>
<header><h1>header</h1></header>
<div class="myBox">

</div>

<div class="otherbox">

</div>


<footer><p>this is the footer</p></footer>
</body>
</html>